.beerCard {
    /* border: var(--border-style); */
    flex-basis: calc(100% / 3);
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    transition: all .2s ease-out;
    max-width: 100%;
}

.beerCard::after {
    content: '';
    position: absolute;
    border: var(--border-style);
    top: -1.5px;
    right: -1.5px;
    bottom: -1.5px;
    left: -1.5px;
    pointer-events: none;
}

.beerCard:hover {
    background-color: var(--color-secondary);
    color: var(--color-reverse);
    transition: all .2s ease-out;
}

.beerCard .icon {
    width: 16px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.beerCard .beerModel {
    flex-basis: 30%;
    margin: 20px;
    flex-grow: 0;
    --poster-color: transparent;
    
}

@media all and (max-width:1024px) {
    .beerCard .beerModel {
        flex-basis: 20%;
        margin: 5px 10px;
        
    }
}

.beerCard .beerModel::part(default-progress-bar) {
    visibility: hidden;
}

.beerCard .beerModel::part(default-progress-mask) {
    display: none;
}

.beerCard .cardText {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
    overflow-wrap: anywhere;
}