.beerWrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100vh - var(--header-height));
}

.beerWrapper .hero {
    background-color: var(--color-reverse);
}

@media all and (max-width: 1024px) {
    .beerWrapper {
        flex-direction: column;
        height: auto;
    }
}
